/* Root 
========================================================*/
/* Root / End
==============================================================*/
/* Fonts 
===============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Manrope:wght@800&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,600;1,100;1,300&family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Manrope:wght@800&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,600;1,100;1,300&family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap");
/* Fonts / End
=============================================================== */
/* Reset 
=============================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 18px; }

.btn--border--amarelo {
  font-family: 'Fraunces', serif;
  text-decoration: none;
  color: #818498;
  font-size: 1.2rem;
  font-weight: 900;
  border-bottom: 2px solid yellow;
  text-transform: uppercase;
  transition: 1s; }
  .btn--border--amarelo:hover {
    color: #23303e;
    border-bottom: 4px solid yellow; }

.btn--border--alaranjado {
  font-family: 'Fraunces', serif;
  text-decoration: none;
  color: #818498;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid #fe7867; }
  .btn--border--alaranjado:hover {
    color: #23303e;
    border-bottom: 4px solid #fe7867; }

/* Header 
================================================================= */
.header__fundo--img {
  padding: 1.5rem 1.1rem;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .header__fundo--img header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow', sans-serif; }
    .header__fundo--img header .header__titulo {
      font-size: 1.7rem;
      font-weight: bold;
      color: #fff; }
    .header__fundo--img header nav {
      display: flex;
      column-gap: 1rem;
      align-items: center; }
      .header__fundo--img header nav a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 1rem; }
      .header__fundo--img header nav .btn__link {
        background: #fff;
        color: #000;
        padding: 0.7rem 1rem;
        border-radius: 1rem;
        font-weight: bold;
        font-family: 'Fraunces', serif; }
        .header__fundo--img header nav .btn__link:hover {
          background: rgba(255, 255, 255, 0.37);
          color: white;
          transition: 0.5s; }
    .header__fundo--img header .menu__moba {
      display: none; }
  .header__fundo--img .header__texto {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px; }
    .header__fundo--img .header__texto h1 {
      color: #fff;
      font-size: 3rem;
      font-weight: bold; }
    .header__fundo--img .header__texto img {
      width: 2rem;
      height: 10rem;
      text-align: center; }

/* Header / End
================================================================= */
/* main
================================================================= */
main {
  display: flex;
  flex-wrap: wrap;
  /* Service
  =================================================================*/
  /* Service/ end
  =================================================================*/
  /* Galeria 
  ====================================================*/
  /* Galeria / End
  ====================================================*/ }
  main .content {
    width: 100%;
    min-height: 100vh; }
    main .content article {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden; }
      main .content article .content__left {
        width: 51%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .content article .content__left .content__left--text {
          line-height: 2;
          width: 70%;
          margin: 1rem 0; }
          main .content article .content__left .content__left--text h2 {
            font-size: 2.9rem;
            margin-bottom: 1rem;
            line-height: 1;
            color: #23303e;
            font-weight: 900;
            font-family: 'Fraunces', serif; }
          main .content article .content__left .content__left--text p {
            font-family: 'Barlow', sans-serif;
            color: #5a636c;
            font-size: 1.2rem;
            font-weight: 800; }
      main .content article .content__right {
        flex-basis: 50%;
        overflow: hidden;
        height: 100%; }
        main .content article .content__right picture {
          width: 100%;
          height: 100%; }
  main .article__3 {
    width: 100%;
    height: 80vh;
    display: flex; }
    main .article__3 .content__left--cereja {
      width: 62%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(images/desktop/image-graphic-design.jpg);
      background-position: center;
      background-size: center; }
    main .article__3 .content__left--laranja {
      width: 56%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(images/desktop/image-photography.jpg);
      background-position: center;
      background-size: cover; }
    main .article__3 .content__left--text {
      line-height: 2;
      width: 70%;
      position: relative;
      top: 8rem; }
      main .article__3 .content__left--text h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #23303e;
        font-family: 'Fraunces', serif; }
      main .article__3 .content__left--text p {
        font-family: 'Barlow', sans-serif;
        color: #5a636c;
        font-size: 1rem;
        font-weight: 800;
        padding: 0 1rem; }
  main .comentarios {
    width: 100%; }
    main .comentarios .comentarios__titulo {
      font-size: 2rem;
      color: #23303e;
      font-weight: bold;
      font-family: 'Fraunces', serif; }
    main .comentarios .comentarios__container {
      margin: 5rem 0; }
      main .comentarios .comentarios__container .comentarios__box {
        margin-top: 2rem;
        padding: 0 1rem; }
        main .comentarios .comentarios__container .comentarios__box .comentarios__img--user {
          display: flex;
          justify-content: center;
          align-items: center; }
          main .comentarios .comentarios__container .comentarios__box .comentarios__img--user img {
            width: 5rem;
            height: 5rem;
            border-radius: 50px; }
        main .comentarios .comentarios__container .comentarios__box .comentarios__text {
          text-align: center; }
          main .comentarios .comentarios__container .comentarios__box .comentarios__text p {
            font-size: 0.8rem;
            line-height: 2;
            font-weight: 500;
            margin: 2rem 0;
            padding: 0 2rem; }
          main .comentarios .comentarios__container .comentarios__box .comentarios__text h3 {
            font-size: 1.4rem;
            text-align: center;
            font-weight: bold; }
          main .comentarios .comentarios__container .comentarios__box .comentarios__text span {
            color: #a7abae;
            text-align: center;
            font-size: 1rem; }
  main .galeria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; }
    main .galeria picture img {
      width: 100%;
      height: 100%; }

/* main / end
================================================================= */
/* footer
================================================================= */
footer {
  padding: 4rem;
  background: #68b1a2;
  text-align: center;
  line-height: 7; }
  footer .footer__titulo {
    font-weight: bold;
    color: #000;
    font-size: 2rem;
    margin: 0 auto; }
  footer .link {
    column-gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .link a {
      color: #5a636c;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: 700;
      transition: 1s;
      cursor: pointer; }
      footer .link a:hover {
        color: #fff; }
  footer .footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem; }
    footer .footer__icons i {
      font-size: 2rem;
      color: #5a636c;
      transition: 1s;
      cursor: pointer; }
      footer .footer__icons i:hover {
        color: #fff;
        font-size: 2.5rem; }

/* footer / End
================================================================= */
/* Media Queris
================================================================== */
@media (max-width: 800px) {
  main {
    flex-direction: column;
    height: initial; }
    main .content article {
      flex-direction: column; }
      main .content article .content__left {
        order: 1; }
        main .content article .content__left .content__left--text {
          padding: 5rem 0;
          width: 100%; }
          main .content article .content__left .content__left--text h2 {
            font-size: 1.5rem; }
      main .content article .content__right picture img {
        width: 100%;
        height: 100%; }
    main .content .article__3 {
      flex-direction: column;
      height: 130vh; }
      main .content .article__3 .content__left--cereja {
        width: 100%;
        height: 100%; }
      main .content .article__3 .content__left--laranja {
        width: 100%;
        height: 100%; }
      main .content .article__3 .content__left--text p {
        font-size: 1rem; }
    main .comentarios {
      height: inherit;
      width: inherit; }
      main .comentarios .comentarios__container {
        flex-direction: column; }
        main .comentarios .comentarios__container .comentarios__box {
          margin: 2rem 0; }
          main .comentarios .comentarios__container .comentarios__box .comentarios__text {
            width: 50%;
            margin: 0 auto; }
    main .galeria {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
      main .galeria picture {
        flex-basis: 50%;
        height: 50%; }
        main .galeria picture img {
          width: 100%;
          height: 100%; } }
@media (max-width: 667px) {
  .header__fundo--img {
    background-image: url("images/mobile/image-header.jpg");
    height: 100vh; }
    .header__fundo--img header {
      align-items: start;
      display: fixed; }
      .header__fundo--img header .menu__moba {
        display: block;
        z-index: 10000;
        color: #fff;
        font-size: 2rem; }
        .header__fundo--img header .menu__moba:hover {
          color: rgba(255, 255, 255, 0.37);
          transition: 0.5s; }
      .header__fundo--img header nav {
        display: none; }
        .header__fundo--img header nav.active {
          position: absolute;
          left: 0;
          top: 5rem;
          text-align: center;
          padding: 2rem;
          width: 100%;
          flex-direction: column;
          display: flex;
          background: #f8f4e7; }
          .header__fundo--img header nav.active a {
            color: #000;
            padding: 1rem 0; }
          .header__fundo--img header nav.active .btn__link {
            padding: 1rem 2rem;
            background: #fad400;
            color: #5a636c; } }
/* Media Queris
================================================================== */

/*# sourceMappingURL=style.css.map */
